<component name="ArtifactManager">
  <artifact type="war" name="springboot_ssmp:war">
    <output-path>$PROJECT_DIR$/springboot_ssmp/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot_ssmp</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springboot_ssmp-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot_ssmp:war exploded" />
    </root>
  </artifact>
</component>